<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqep.dataSharingPlatform.sjkflc.dao.SjkflcSecretRelatedDao">
    <sql id="tableName">
        pmsn.sjkflc_secret_related
    </sql>
    <sql id="baseColumnList">
        id, xh, sys_bs_type, sys_name, table_ch_name, table_en_name, table_ch_field_name, table_en_field_name, mg_flag, data_zr_dept        
    </sql>
    <resultMap type="com.hqep.dataSharingPlatform.sjkflc.model.SjkflcSecretRelated" id="baseResultMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="xh" column="xh" jdbcType="VARCHAR"/>
        <result property="sysBsType" column="sys_bs_type" jdbcType="VARCHAR"/>
        <result property="sysName" column="sys_name" jdbcType="VARCHAR"/>
        <result property="tableChName" column="table_ch_name" jdbcType="VARCHAR"/>
        <result property="tableEnName" column="table_en_name" jdbcType="VARCHAR"/>
        <result property="tableChFieldName" column="table_ch_field_name" jdbcType="VARCHAR"/>
        <result property="tableEnFieldName" column="table_en_field_name" jdbcType="VARCHAR"/>
        <result property="mgFlag" column="mg_flag" jdbcType="VARCHAR"/>
        <result property="dataZrDept" column="data_zr_dept" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" parameterType="java.lang.String" resultMap="baseResultMap">
        select
        <include refid="baseColumnList"/>
        from
        <include refid="tableName"/>
        where
        id = #{id,jdbcType=VARCHAR}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryList" parameterType="com.hqep.dataSharingPlatform.sjkflc.model.SjkflcSecretRelated"
            resultMap="baseResultMap">
        select
        <include refid="baseColumnList"/>
        from
        <include refid="tableName"/>
        <where>
            <if test="id != null and id != ''">
                and id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="xh != null and xh != ''">
                and xh = #{xh,jdbcType=VARCHAR}
            </if>
            <if test="sysBsType != null and sysBsType != ''">
                and sys_bs_type = #{sysBsType,jdbcType=VARCHAR}
            </if>
            <if test="sysName != null and sysName != ''">
                and sys_name = #{sysName,jdbcType=VARCHAR}
            </if>
            <if test="tableChName != null and tableChName != ''">
                and table_ch_name = #{tableChName,jdbcType=VARCHAR}
            </if>
            <if test="tableEnName != null and tableEnName != ''">
                and table_en_name = #{tableEnName,jdbcType=VARCHAR}
            </if>
            <if test="tableChFieldName != null and tableChFieldName != ''">
                and table_ch_field_name = #{tableChFieldName,jdbcType=VARCHAR}
            </if>
            <if test="tableEnFieldName != null and tableEnFieldName != ''">
                and table_en_field_name = #{tableEnFieldName,jdbcType=VARCHAR}
            </if>
            <if test="mgFlag != null and mgFlag != ''">
                and mg_flag = #{mgFlag,jdbcType=VARCHAR}
            </if>
            <if test="dataZrDept != null and dataZrDept != ''">
                and data_zr_dept = #{dataZrDept,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" parameterType="com.hqep.dataSharingPlatform.sjkflc.model.SjkflcSecretRelated">
        insert into
        <include refid="tableName"/>
        (
        <include refid="baseColumnList"/>
        )
        values
        (
        #{id,jdbcType=VARCHAR}, #{xh,jdbcType=VARCHAR}, #{sysBsType,jdbcType=VARCHAR}, #{sysName,jdbcType=VARCHAR},
        #{tableChName,jdbcType=VARCHAR}, #{tableEnName,jdbcType=VARCHAR}, #{tableChFieldName,jdbcType=VARCHAR},
        #{tableEnFieldName,jdbcType=VARCHAR}, #{mgFlag,jdbcType=VARCHAR}, #{dataZrDept,jdbcType=VARCHAR} )
    </insert>


    <!--新增所有列-->
    <insert id="insertForModel" parameterType="com.hqep.dataSharingPlatform.sjkflc.model.SjkflcSecretRelated">
        insert into
        <include refid="tableName"/>
        (
        <include refid="baseColumnList"/>
        )
        values
        (
        #{id,jdbcType=VARCHAR}, #{xh,jdbcType=VARCHAR}, #{sysBsType,jdbcType=VARCHAR}, #{sysName,jdbcType=VARCHAR},
        #{tableChName,jdbcType=VARCHAR}, #{tableEnName,jdbcType=VARCHAR}, #{tableChFieldName,jdbcType=VARCHAR},
        #{tableEnFieldName,jdbcType=VARCHAR}, #{mgFlag,jdbcType=VARCHAR}, #{dataZrDept,jdbcType=VARCHAR} )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into
        <include refid="tableName"/>
        (
        <include refid="baseColumnList"/>
        )
        values
        <foreach collection="list" item="item" separator=",">
            (#{id,jdbcType=VARCHAR}, #{xh,jdbcType=VARCHAR}, #{sysBsType,jdbcType=VARCHAR}, #{sysName,jdbcType=VARCHAR},
            #{tableChName,jdbcType=VARCHAR}, #{tableEnName,jdbcType=VARCHAR}, #{tableChFieldName,jdbcType=VARCHAR},
            #{tableEnFieldName,jdbcType=VARCHAR}, #{mgFlag,jdbcType=VARCHAR}, #{dataZrDept,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!--通过主键修改数据-->
    <update id="update" parameterType="com.hqep.dataSharingPlatform.sjkflc.model.SjkflcSecretRelated">
        update
        <include refid="tableName"/>
        <set>
            <if test="xh != null and xh != ''">
                xh = #{xh,jdbcType=VARCHAR},
            </if>
            <if test="sysBsType != null and sysBsType != ''">
                sys_bs_type = #{sysBsType,jdbcType=VARCHAR},
            </if>
            <if test="sysName != null and sysName != ''">
                sys_name = #{sysName,jdbcType=VARCHAR},
            </if>
            <if test="tableChName != null and tableChName != ''">
                table_ch_name = #{tableChName,jdbcType=VARCHAR},
            </if>
            <if test="tableEnName != null and tableEnName != ''">
                table_en_name = #{tableEnName,jdbcType=VARCHAR},
            </if>
            <if test="tableChFieldName != null and tableChFieldName != ''">
                table_ch_field_name = #{tableChFieldName,jdbcType=VARCHAR},
            </if>
            <if test="tableEnFieldName != null and tableEnFieldName != ''">
                table_en_field_name = #{tableEnFieldName,jdbcType=VARCHAR},
            </if>
            <if test="mgFlag != null and mgFlag != ''">
                mg_flag = #{mgFlag,jdbcType=VARCHAR},
            </if>
            <if test="dataZrDept != null and dataZrDept != ''">
                data_zr_dept = #{dataZrDept,jdbcType=VARCHAR},
            </if>
        </set>
        where
        id = #{id,jdbcType=VARCHAR}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.String">
        delete from
        <include refid="tableName"/>
        where
        id = #{id,jdbcType=VARCHAR}
    </delete>

</mapper>

