<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqep.dataSharingPlatform.pmsn.dao.BbzxPushDao">
    <insert id="insertBbzxPushForBBZX" parameterType="pd">
        INSERT INTO `extract`(` tablename`, `frequentness`, `entrytime`, `starttime`, `endtime`)
        VALUES (#{tablename}, 1, SYSDATE() , SYSDATE() , DATE_ADD(SYSDATE(), INTERVAL +10 year));
    </insert>

</mapper>